@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f0f0f0;
  --background: #282828;
  --gray1: #787878;
  --gray2: #393939;
  --gray3: #282828;

  --green1: #9DC08B;
  --green2: #9DC08B;
  --green3: #609966;
  --green4: #40513B;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
html{
  height:100%;
}
body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);

  height:100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gray1 {
  color: var(--gray1);
}
.gray2 {
  color: var(--gray2);
}
.gray3 {
  color: var(--gray3);
}

.gray1-bg {
  background-color: var(--gray1);
}
.gray2-bg {
  background-color: var(--gray2);
} 
.gray3-bg {
  background-color: var(--gray3);
}

.green1 {
  background-color: var(--green1);
}
.green2 {
  background-color: var(--green2);
} 
.green3 {
  background-color: var(--green3);
}
.green4 {
  background-color: var(--green4);
}

.green1-bg {
  background-color: var(--green1);
}
.green2-bg {
  background-color: var(--green2);
} 
.green3-bg {
  background-color: var(--green3);
}
.green4-bg {
  background-color: var(--green4);
}